/* Aula 27/09/2022 - Aplicando definições em CSS - Projeto Bunes Library */
body, ul {
    margin: 0px;
    padding: 0px;
}
a {
    color: rgb(238, 227, 208);
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header #menu a:hover {
    background: rgba(182, 248, 0, 0);
}
#logo img {
    float: left;
    height: 50px;
    width: 120px;
    position: static;
    top: 5px;
    left: 10px;
}
#header {
    width: 100%;
    position: fixed; /* Adicionando o Position e Z-Index */
    z-index: 90;
    box-sizing: border-box;
    height: 75px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #72583f;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    gap: 0.5rem;
}
.carouselExampleInterval .carousel-item img {
    height: 100px;
}

/* CSS configurando banner */

.section-banner-home {
    width: 100%;
    height: 500px;
    padding: 50px;
    margin: 30px auto;
    background-color: #eee5d8;
}
.section-banner-home img {
    height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px; /* Margem interna do texto */
    color: rgb(87, 65, 45);
}

.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px; /* Margem externa abaixo do texto */
    color:#3f3123;
}
.section-banner-home .texto-banner a {
    color: #3f3123;
    text-decoration: none;
    background-color: white;
    padding: 4px 14px;
    font-size: 15px;
}
/* Fim Banner */
/* CSS Destaque */
.destaque h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: rgb(255, 123, 0);
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* Fim CSS Destaque */
/* Início CSS Novidades */
.novidades {
    background-color: rgb(87, 65, 45);
    padding: 50px;
}
.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}
.novidades h2 {
    color: #ffffff;
}
.novidades p {
    color: rgb(252, 247, 239);
}
.novidades a {
    color: #000;
    text-decoration: underline;
    text-decoration-color: rgb(255, 123, 0);
    padding: 6px 12px;
    background-color: rgb(241, 236, 226);
    font-weight: 400;
}
/* Fim CSS novidades */
/* Início CSS galeria */
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
.galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/* Fim CSS galeria */